/*--global---*/
*{
  margin: 0;
  padding: 0;
}


/*-------------*/

/*-----Page one, position and image--Homepage- toDoContainer--container---*/

#homePage{
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-image: url("./assets/image/splash4.jpg");
 background-position: center;
 background-size: cover;
 scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, et Opera */
}


.container{
  height: 100vh;
  overflow: auto;
}

.toDoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
}

.toDoContainer > div {
  width: 500px;
}

/*-----nav button/routes/a... style--------*/


.navButton{
  margin: 5px;
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/*-----userIcon--------*/


.profIcon{
  height: 50px;
  border-radius: 50%;
  width: 50px;
}

/*-------------*/

/*-------otherUsers-Icon-----*/
.oneUser img{
height: 35px;
width: 35px;
font-size: 25;
padding: 5px;
}

.oneUser{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.0px solid black;
  margin: 7px;
  color: white;
  cursor: pointer;
}

.oneUser .dot{
  width: 10px;
  height: 10px;
  color: transparent;
  border-radius: 50%;
  background-color: green;
}

/* .oneUser::marker{
  width: 20px;
  height: 20px;
  color: green;
} */

.allUsers{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 230px;
    height: 100vh;
    overflow: auto;
    scrollbar-width: 0;
  background-color: black;

}


.allUsers::-webkit-scrollbar {
  display: none; /* Chrome, Safari, et Opera */
}



#userName{
  list-style-type: none;
}

#rond{
  width: 30px;
  height: 30px;
  color: green;
}

/*-------------*/
/*------Link-------*/

.link{
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  background-color: black;
}

.link *{
  margin: 10px;
}

/*------navbar /input item css-------*/

.SearchBar{
  width: 200px;
  font-size: 27px;
  padding: 5px;
  border-radius: 10px ;
  border: none;
  outline: none;

}

.NavBar {
  margin: 20px;
  height: fit-content;
  display: flex;
  width: 700px;
  padding-left:50px ;
}

.NavBar * {
  margin: 5px;
}

button  {
  font-size: 25px;
  padding: 5px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
}

/*--------Menu--------*/

.Menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: black;
  border: none;
  outline: none;
}

.Menu * {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  25px 25px 50px #bebebe,
               -25px -25px 50px #ffffff;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  transition: 0.8s all ease;
}

.Menu *:hover {
  background-color: rgb(252, 115, 115);
  color: white;
}

/*--------toDo--------*/

.toDoContainer > div >div {
  margin-top: 17px;
  border-radius: 20px;
  background: white;
  box-shadow:  12px 12px 20px #ccc4c4,
  -12px -12px 20px #ffffff;
  padding: 30px;
  color: black;
}

.toDo{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.toDo * {
  text-align: center;
}
.toDo button {
  margin: 5px;
  background-color: black;
  color: white;
  cursor: pointer;

}